.loadMore {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
  width: 40px;
  height: 40px;
}
.loadMore::before,
.loadMore::after {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  width: 15px;
  height: 3px;
}
.loadMore::after {
  transform: rotate(90deg);
}

.loadMore:hover,
.loadMore:focus {
  background: #444;
  border-color: #333;
}
